body{
  
    font-family: Font;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size:cover;

}
* {
  margin: 0px; 
  padding: 0px; 
    box-sizing: border-box;
}
@font-face{
  font-family: Font;
  src:url(../fonts/NewsCycle-Regular.ttf);}
  /* Header of the Nav*/
.Container{
 width: 1353px;
    margin: auto 0;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
  }
/*header*/
.look{
    grid-column: 1/5;
    grid-row: 1;
  }
  .Header{
    text-align: center;
}
.Header nav{
  background-color: black;
  width: 100%;
  height: 60px;
  
  }

.Header a{
  color:#fff;
  text-decoration: none;
  display: inline-block;
  padding: 10px 25px;
  font-size: 18px;
  padding-right: 100px;

}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color:#808080;}

.dropdown:hover .dropdown-content {display: block;}

/*body services*/
/*.sec-2{
  grid-column: 1/5;
  grid-row: 2;
      padding-top: 45px;  

}

.con{
     margin: 10px;
    padding-left: 100px;
}

 .h1{
 text-align: center;
  text-shadow: 15px 15px 10px black;
}
.con h3{
  text-align: center;
}
p{
  text-align: justify;
  font-size: 18px;
}
.License1{
      text-align: center;
    margin-top: 50px;
   
}
.Guarantee{
    text-align: center;
        margin-top: 28px;
}
.Safety{
  text-align: center;
        margin-top: 28px;
}
.Long-term{
  text-align: center;
        margin-top: 28px;
}
.License{
  float: left;
  width: 25%;
  border: 1px solid #808080;
  padding:10px;
  margin: 20px;
  background-color: #ccc;
}
.License2{
  float: left;
  width: 25%;
  border: 1px solid #808080;
  padding:10px;
  margin: 20px;
    text-align: center;
    background-color: #ccc;
} */

/*SECTION 3 (cars)*/

.sec-3{
  grid-column:1/5;
  grid-row: 3;
  padding-left: 40px;

}
.picture{
  float: left;
    margin: 20px;
    background-color: #ccc;
    width: 370px;
    box-shadow: 15px 15px 15px black;
    border: 1px solid black;


}
.picture img{
      border-bottom: 1px solid black;
}
.polaroid{
  padding-left: 20px;
}
.meta{
  display: inline-flex;
  margin-left: 20px;

}
button{
     background-color: #808080;
    border: none;
    padding: 15px 32px;
    width: 335px;
    margin: 6px 16px;
    border-radius: 8px;

}
.button a{
  text-decoration: none;
  font-size: 16px;
  color:#fff;
}


/*Footer section*/
#Footer{
  
  clear: both;
  background-color: black;

}
.push{
  grid-column:1/5;
  grid-row:7;
      
    }
.st h1 {
      font-size: 20px;
    color: white;
}
.st h4{
      display: block;
    padding-left: 15px;
    color: #fff;
    letter-spacing: 2px;
  }
  .copy{
       /* clear: both; */
    text-align: center;
    color: white;
    /* margin-top: 40px; */
    font-size: 12px;
    }
